<div class="header-title">
    <h1 header-title></h1>
</div>
<!--Header Buttons-->
<div class="header-buttons">
    <a href="" class="sidebar-toggler"></a>
    <a href="" class="refresh"></a>
    <a href="" class="fullscreen"></a>
</div>

<!--Header Buttons End
<div ng-controller="FacilityFilterController">
    <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Filter</button>
    <hr>
    <div class="btn-group" collapse="isCollapsed">
        <label ng-repeat="facility in facilities" class="btn btn-xs btn-primary" ng-model="facility" ng-click="fclick(facility.Id)">{{facility.ShortCode}}</label>
    </div>
</div>
--->