<!-- Page Sidebar Header-->
<div class="sidebar-header-wrapper">
    <input type="text" class="searchinput" />
    <i class="searchicon fa fa-search"></i>
    <!--<div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>-->
</div>
<!-- /Page Sidebar Header -->
<!-- Sidebar Menu -->
<ul class="nav sidebar-menu" ng-controller="menuCtrl">
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <i class="menu-icon fa fa-pie-chart"></i>
            <span class="menu-text">Dashboard </span>
        </a>
    </li>

    <li ui-sref-active="active" ng-repeat="menu in menus | orderBy:['orderByKey','label']">

        <a ng-href="{{menu.link}}" class="menu-dropdown" role="button">
            <i class="menu-icon fa fa-{{menu.icon}}"></i>
            <span class="menu-text">{{menu.label}} </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active" ng-repeat="submenus in menu.submenu | orderBy:['orderByKey','label']">
                <a ui-sref=".{{submenus.label}}">
                    <span class="menu-text">{{submenus.label}}</span>
                </a>
            </li>
        </ul>
    </li>
</ul>

<!-- /Sidebar Menu -->