<div data-ng-controller="ArticlesController" class="panel panel-default">
    <div class="widget">
        <div class="widget-header bordered-bottom bordered-blue">
            <span class="widget-caption "><h5><b>Articles</b></h5></span>
        </div>
        <div class="widget-body">
        <div class="row">
            <div class="input-lg col-lg-4">
                <span class="input-icon">
                    <input type="text" class="form-control" ng-model="searchText"  placeholder="Search" data-ng-change="setCurrentPage()"/>
                    <i class="glyphicon glyphicon-search blue"></i>
                </span>
            </div>
            <div class="col-lg-5"></div>
            <div class=" btn-group col-lg-3 pull-right" style="margin-top:12px;">
                <button id="add" class="btn btn-info " data-ng-click="edit()" ><i class="glyphicon glyphicon-plus"></i>Add New Article</button>
                <select name="pageSize" ng-model="pageSize" id="pageSize" style=" height : 32px; ">
                    <option value=5>5</option>
                    <option value=10>10</option>
                    <option value=15>15</option>
                    <option value=20>20</option>
                    <option value=30>30</option>
                    <option value={{TotalRecordCount}}>All</option>
                </select>
            </div>
        </div>

        <div class="table-scrollable">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Article Name</th>
                    <th>Author's Name</th>
                    <th>Language</th>
                    <th>Active</th>
                    <th>File</th>
                    <th><i class="glyphicon glyphicon-edit white"></i></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="paginationclass" data-ng-repeat="e in articles |filter:searchText | pagination: curPage * pageSize | limitTo : pageSize" >
                    <td>{{e.name}}</td>
                    <td>{{e.author}}</td>
                    <td>{{e.language}}</td>
                    <td>{{e.active}}</td>
                    <td><a href="#" ng-click="viewFile(e)">View</a></td>
                    <td><a href="" data-ng-click="edit(e)" tooltip-placement="top" tooltip="Edit Article"><i class="glyphicon glyphicon-edit"></i></a></td>
                    <td><a href="" data-ng-click="delete(e.id)" tooltip-placement="top" tooltip="Delete Article"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        </br>

        <div class="pagination pagination-centered  pull-right" ng-show="articles.length">                            <!-- Pagination -->
            <ul class="pagination-controle pagination">
                <li><button type="button" class="btn btn-default" ng-disabled="curPage == 0" ng-click="curPage=curPage-1"> &lt; PREV </button></li>
                <li><span>Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>
                <li><button type="button" class="btn btn-default"   ng-disabled="curPage >= TotalRecordCount/pageSize - 1" ng-click="curPage = curPage+1">NEXT &gt;</button></li>
                <li >
                    <input type="number" min="1" data-ng-model="goToPage" style=" width:60px; height : 30px; "  data-ng-change="checkPage(goToPage)" >
                    <button type="button" class="btn btn-default"  ng-click="jumpToPage()" ng-disabled="disableJumpButton">Go To Page</button>
                </li>
            </ul>
        </div>                                                                                                                                     <!-- /Pagination -->

        <div align="right" class="row ">
            </br></br><span id="shwErrMsg"><b></b></span>
        </div>

        <script type="text/ng-template" id="editEventModal">
            <div class="modal-header bg-blue">
                <a href="" class="btn btn-circle btn-xs blue pull-right" data-toggle="tooltip" title="Close !" data-ng-click="$close()"><i class="glyphicon glyphicon-remove"></i></a>
                <h4 class="modal-title white"><b>{{update}} Article</b></h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <label class="col-md-3 control-label no-padding-right no-padding-left"><b>Language</b></label>
                    <div class="col-md-6">
                        <select ng-model="event.language">
                            <option ng-repeat="ut in uploadTypes" value="{{ut.Code}}">{{ut.Value}}</option>
                        </select>
                    </div>
                </div>
                <div class="row"><br><br><br></div>
                <div class="col-md-12">
                    <label class="col-md-3 control-label no-padding-right no-padding-left"><b>Article Name</b></label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" data-ng-model="event.name">
                    </div>
                </div>
                <div class="row"><br><br><br></div>
                <div class="col-md-12">
                    <label class="col-sm-3 control-label no-padding-right no-padding-left"><b>Author's Name</b></label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" data-ng-model="event.author">
                    </div>
                </div>
                <!--<div class="row"><br><br><br></div>
                <div class="col-md-12">
                    <label class="col-sm-3 control-label no-padding-right no-padding-left"><b>Article</b></label>
                    <div class="col-lg-9">
                        <textarea rows="10" class="form-control" data-ng-model="event.articleString"></textarea>
                    </div>
                </div>-->
                <div class="row"><br><br></div>
                <div class="row"><br><br></div>
                <div class="col-md-12">
                    <label class="col-md-3 control-label no-padding-right no-padding-left"><b>Article File</b></label>
                    <input class="col-md-6 btn btn-primary" type="file" file-model="myFile"/>
                </div>
                <div class="row"><br><br><br></div>
                <div class="col-sm-12">
                    <label class="col-sm-3 control-label no-padding-right no-padding-left"><b>Active</b></label>
                    <div class="col-lg-3">
                        <input type="checkbox" data-ng-model="event.active">
                    </div>
                </div>
                <div class="row"><br><br><br></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-blue" data-ng-click="save(event,myFile)"><i class="fa fa-save"></i>Save</button>
            </div>
        </script>
        <script type="text/ng-template" id="pdf">
            <div class="modal-header bg-blue">
                <a href="" class="btn btn-circle btn-xs blue pull-right" data-toggle="tooltip" title="Close !" data-ng-click="$close()"><i class="glyphicon glyphicon-remove"></i></a>
                <h4 class="modal-title white"><b>Article</b></h4>
            </div>
            <div class="modal-body">
                <div>
                    <embed src="{{pdfFile}}" width="600" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
                </div>
            </div>
        </script>
        </div>
    </div>
</div>
