<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Sattra List</h1>
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Sattras</li>
    </ol>
</section>
<!-- Development content -->
<section class="content well">
    <div class="col-md-12 row">
        <div class="pull-left">
                <span class="input-icon">
                    <input class="form-control" type="text" placeholder="Search sattra" size="15" ng-model="searchText"/>
                    <!--<i class="glyphicon glyphicon-search"></i>-->
                </span>
        </div>
        <div class="pull-right">
            <button class="" type="button" data-ng-click="edit()" ><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;Create</button>
        </div>
    </div>
    <div class="table-scrollable">
        <table class="table table-striped table-bordered table-responsive">
            <thead>
            <tr>
                <th class="bg-darkcarbon white">Sattra Name</th>
                <th class="bg-darkcarbon white">Sattradhikar's Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>District</th>
                <th>State</th>
                <th class="bg-darkcarbon"><i class="glyphicon glyphicon-edit white"></i></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="e in filteredTodos |filter:searchText">
                <td>{{e.sattraName}}</td>
                <td>{{e.sattradhikarName}}</td>
                <td>{{e.phoneNo}}</td>
                <td>{{e.contactDetails}}</td>
                <td>{{e.district}}</td>
                <td>{{e.state}}</td>
                <td><a href="" data-ng-click="edit(e)" tooltip-placement="top" tooltip="Edit Sattra"><i class="glyphicon glyphicon-edit"></i></a></td>
                <td><a href="" data-ng-click="delete(e.id)" tooltip-placement="top" tooltip="Delete Sattra"><i class="glyphicon glyphicon-trash"></i></a></td>
            </tr>
            </tbody>
        </table>
        <pagination
                ng-model="currentPage"
                total-items="vm.events.length"
                max-size="maxSize"
                boundary-links="true">
        </pagination>
    </div>
</section>
<script type="text/ng-template" id="editEventModal">
    <div class="modal-header bg-blue">
        <a href="" class="btn btn-circle btn-xs blue pull-right" data-toggle="tooltip" title="Close !" data-ng-click="$close()"><i class="glyphicon glyphicon-remove"></i></a>
        <h4 class="modal-title white"><b>{{update}} Sattra</b></h4>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <label class="col-sm-3 control-label no-padding-right no-padding-left"><b>Sattra Name</b></label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" data-ng-model="event.sattraName">
                </div>
            </div><br><br>
            <div class="row">
                <label class="col-sm-3 control-label no-padding-right no-padding-left"><b>Sattradhikar's Name</b></label>
                <div class="col-lg-9">
                    <textarea class="form-control" data-ng-model="event.sattradhikarName"></textarea>
                </div>
            </div><br><br>
            <div class="row">
                <label class="col-sm-3 control-label no-padding-right no-padding-left"><b>Phone Number</b></label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" data-ng-model="event.phoneNo">
                </div>
            </div><br><br>
            <div class="row">
                <label class="col-sm-3 control-label no-padding-right no-padding-left"><b>Address</b></label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" data-ng-model="event.contactDetails">
                </div>
            </div><br><br>
            <div class="row">
                <label class="col-sm-3 control-label no-padding-right no-padding-left"><b>District</b></label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" data-ng-model="event.district">
                </div>
            </div><br><br>
            <div class="row">
                <label class="col-sm-3 control-label no-padding-right no-padding-left"><b>State</b></label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" data-ng-model="event.state">
                </div>
            </div><br><br>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-blue" data-ng-click="save(event)"><i class="fa fa-save"></i>Save</button>
    </div>
</script>

